html{
  height:100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  margin:0;
  height:100%;
}


#header{
  min-height:30px;
}

.cmd fieldset{
  border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


#root{
  height:100%;
}

.App{
  padding:10px;
  margin: 0 auto;
  height:calc(100% - 20px);
}
.mdc-ripple-surface:hover::before {
    opacity: 0 !important; 
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
